In [ ]:
Bird Strikes Data

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel("BirdStrikes_data.xlsx")

In [3]:
data.head(10)

,Airport: Name,Aircraft: Make/Model,Wildlife: Number struck,Wildlife: Number Struck Actual,Effect: Impact to flight,FlightDate,Effect: Indicated Damage,Aircraft: Number of engines?,Aircraft: Airline/Operator,Origin State,When: Phase of flight,Conditions: Precipitation,Wildlife: Size,Conditions: Sky,Pilot warned of birds or wildlife?,Cost: Total $,Number of people injured,Is Aircraft Large?,Altitude Above or Below 1000 ft
0,LAGUARDIA NY,B-737-400,Over 100,859,Engine Shut Down,2000-11-23,Caused damage,2,US AIRWAYS*,New York,Climb,None,Medium,No Cloud,N,30736,0,Yes,Yes
1,DALLAS/FORT WORTH INTL ARPT,MD-80,Over 100,424,None,2001-07-25,Caused damage,2,AMERICAN AIRLINES,Texas,Landing Roll,None,Small,Some Cloud,Y,0,0,No,No
2,LAKEFRONT AIRPORT,C-500,Over 100,261,None,2001-09-14,No damage,2,BUSINESS,Louisiana,Approach,None,Small,No Cloud,N,0,0,No,No
3,SEATTLE-TACOMA INTL,B-737-400,Over 100,806,Precautionary Landing,2002-09-05,No damage,2,ALASKA AIRLINES,Washington,Climb,None,Small,Some Cloud,Y,0,0,Yes,No
4,NORFOLK INTL,CL-RJ100/200,Over 100,942,None,2003-06-23,No damage,2,COMAIR AIRLINES,Virginia,Approach,None,Small,No Cloud,N,0,0,No,No
5,GUAYAQUIL/S BOLIVAR,A-300,Over 100,537,None,2003-07-24,No damage,2,AMERICAN AIRLINES,NaN,Take-off run,None,Small,No Cloud,N,0,0,No,No
6,NEW CASTLE COUNTY,LEARJET-25,Over 100,227,Other,2003-08-17,Caused damage,2,BUSINESS,Delaware,Climb,None,Small,No Cloud,N,1481711,0,No,No
7,WASHINGTON DULLES INTL ARPT,A-320,Over 100,320,Other,2006-03-01,Caused damage,2,UNITED AIRLINES,DC,Approach,None,Small,Some Cloud,Y,1483141,0,No,No
8,ATLANTA INTL,DC-9-30,2 to 10,9,Aborted Take-off,2000-01-06,No damage,2,AIRTRAN AIRWAYS,Georgia,Take-off run,None,Small,Some Cloud,N,0,0,No,No
9,ORLANDO SANFORD INTL AIRPORT,A-330,2 to 10,4,None,2000-01-07,No damage,2,AIRTOURS INTL,Florida,Landing Roll,None,Small,Some Cloud,N,0,0,No,No

In [4]:
data.describe()

       Wildlife: Number Struck Actual  Cost: Total $  Number of people injured
count                    25558.000000   2.555800e+04              25558.000000
mean                         2.691525   5.567354e+03                  0.001056
std                         12.793975   1.219713e+05                  0.050420
min                          1.000000   0.000000e+00                  0.000000
25%                          1.000000   0.000000e+00                  0.000000
50%                          1.000000   0.000000e+00                  0.000000
75%                          1.000000   0.000000e+00                  0.000000
max                        942.000000   1.239775e+07                  6.000000

In [5]:
data.shape

(25558, 19)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25558 entries, 0 to 25557
Data columns (total 19 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Airport: Name                       25429 non-null  object
 1   Aircraft: Make/Model                25558 non-null  object
 2   Wildlife: Number struck             25429 non-null  object
 3   Wildlife: Number Struck Actual      25558 non-null  int64
 4   Effect: Impact to flight            25429 non-null  object
 5   FlightDate                          25429 non-null  datetime64[ns]
 6   Effect: Indicated Damage            25558 non-null  object
 7   Aircraft: Number of engines?        25291 non-null  object
 8   Aircraft: Airline/Operator          25429 non-null  object
 9   Origin State                        25109 non-null  object
 10  When: Phase of flight               25429 non-null  object
 11  Conditions: Precipitation           25558 non-null  object
 12  Wildlife: Size                      25429 non-null  object
 13  Conditions: Sky                     25558 non-null  object
 14  Pilot warned of birds or wildlife?  25429 non-null  object
 15  Cost: Total $                       25558 non-null  int64
 16  Number of people injured            25558 non-null  int64
 17  Is Aircraft Large?                  25429 non-null  object
 18  Altitude Above or Below 1000 ft     25429 non-null  object
dtypes: datetime64[ns](1), int64(3), object(15)
memory usage: 3.7+ MB

In [7]:
data.isnull().sum()

Airport: Name                         129
Aircraft: Make/Model                    0
Wildlife: Number struck               129
Wildlife: Number Struck Actual          0
Effect: Impact to flight              129
FlightDate                            129
Effect: Indicated Damage                0
Aircraft: Number of engines?          267
Aircraft: Airline/Operator            129
Origin State                          449
When: Phase of flight                 129
Conditions: Precipitation               0
Wildlife: Size                        129
Conditions: Sky                         0
Pilot warned of birds or wildlife?    129
Cost: Total $                           0
Number of people injured                0
Is Aircraft Large?                    129
Altitude Above or Below 1000 ft       129
dtype: int64

In [8]:
data = data.dropna()

In [9]:
data.isnull().sum()

Airport: Name                         0
Aircraft: Make/Model                  0
Wildlife: Number struck               0
Wildlife: Number Struck Actual        0
Effect: Impact to flight              0
FlightDate                            0
Effect: Indicated Damage              0
Aircraft: Number of engines?          0
Aircraft: Airline/Operator            0
Origin State                          0
When: Phase of flight                 0
Conditions: Precipitation             0
Wildlife: Size                        0
Conditions: Sky                       0
Pilot warned of birds or wildlife?    0
Cost: Total $                         0
Number of people injured              0
Is Aircraft Large?                    0
Altitude Above or Below 1000 ft       0
dtype: int64

In [10]:
data.shape

(24747, 19)